<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Library Dashboard</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="navbar">
    <a href="/">Dashboard</a>
    <a href="/books-ui">Books</a>
    <a href="/users-ui">Users</a>
    <a href="/issues-ui">Issues</a>
</div>

<h1>Library Dashboard</h1>

<div class="dashboard">

    <div class="dashboard-card">
        <h3>Total Books</h3>
        <h1 th:text="${stats.totalBooks}"></h1>
    </div>

    <div class="dashboard-card">
        <h3>Total Users</h3>
        <h1 th:text="${stats.totalUsers}"></h1>
    </div>

    <div class="dashboard-card">
        <h3>Issued Books</h3>
        <h1 th:text="${stats.totalIssuedBooks}"></h1>
    </div>

</div>

</body>
</html>